.MainWindow {
  margin: 34px 25px;
  background-color: #121825;
  border-radius: 18px;
  padding: 24px 34px;
  color: #ffffff;
}

.titleofMainWindow,
.titleofMainWindow2 {
  font-size: 22px;
}
.titleofMainWindow2 {
  margin-top: 43px;
}
.titleofMainWindow {
  padding-bottom: 24px;
  border-bottom: 1px solid #222b44;
}

.inputcard {
  height: 46px;
  border: 1px solid #313e62;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 34px 0;
}

.inputcard input {
  height: 18px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}
.inputcardIcon {
  width: 18px;
  margin-left: 18px;
}

.cardTop,
.Spisok {
  font-size: 14px;
}

.cardTop {
  color: Gray;
  background-color: #0e0c15;
  height: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.cardTop > div {
  flex: 1;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px solid #222b44;
}

.card > div {
  height: 64px;
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: red;
}
.pageNumbers {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageNumbers button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.pageNumbers button:hover {
  background-color: #2980b9;
  border: 1px solid #2980b9;
  color: #fff;
}

.pageNumbers button.active {
  background-color: #1c64f2;
}
.UserTokensTop {
  display: flex;
  justify-content: center;
}
.UpDownIcon {
  margin-left: 10px;
}
.iconDoIt {
  color: #1C64F2;
  font-size: 18px;
  margin-right: 5px;
}
